/* this is a comment */

/* CSS Syntax:

selector {
  property: value;
  property: value;
}

*/

/* Type selector */


                          /* this is a type, select all <p> */
p {                     
  font-size: 16px;          /* 16px or ?pt or 100% or 1em */
}